*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,sans-serif
}
body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}
main {
    padding: 40px;
}
header{
    background-color: #2c3e50;
    color: white;
    padding: 1rem 5%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    position: sticky;
    top: 5;

}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
nav a {
    color: lightgrey;
    text-decoration: none;
    font-weight: bold;
    transition: 0.5;

}
nav a:hover {
    color: #3498db;
}
.hero {
    display: flexbox;
    align-content: center;
    justify-content: space-between;
    padding: 0.5rem 5% ;
    background-color: white;
    min-height: 80vh;

}
.hero text h1{
    flex: 1;
}
.hero-text h1{
    font-size: 4rem;
    margin-bottom: 20px;
    color: #2c3e50;


}
.hero-image {
    flex: 1;
    text-align: right;
}
.hero-image img {
    width: 100px;
    max-width: 100px;
    border-radius: 20px;
}
.btn {
    display: inline-block;
    padding: 12px 30px;
    background-color: #3498db;
    color: lightgray;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 10px;
    transition: background 0.3s;


}
.btn:hover {
    background-color: #2980b9;

}
#skills h2 {
    text-align: center;
    margin-bottom: 0cm;
    font-size: 2.0rem;

}
.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 20px 0;

}
.skills-card :hover {
    transform: translate(-30px);
}
.skills-card h3 {
    margin: 15px 0;
    color:  #3498db;
    
}
.contact-container  {
    text-align: center;
    padding: 30px;
    gap: 40px;
    display: flex;
    margin: 50px auto;

}
.contact-info {
    flex: 1;

}
.contact-info h3 {
    margin-bottom: 20px;
    color: #2c3e50;
}
contact-form-box {
    flex: 2;
    background: black;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
.form.group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}
input, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    font-size: 1rem;
}
textarea {
    height: 150px;
    resize: vertical;

}
input:focus, textarea:focus {
    outline: black;
    border-color: #3498db;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.3);
}
.contact-form-box button {
    width: 120px;
    background-color: #2c3e50;
    color: grey;
    padding: 15px;
    border: none;
    font-size: 1.0rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;


}
.contact-form-box button:hover {
    background-color: #34495e;

}
.portfolio {
    padding: 60px 15%;
    background-color: white;


}
.portfolio h1 {
    text-align: center;
    margin-bottom: 40px;


}
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    gap: 30px;
}
.project-card {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
    
}
.project-card:hover {
    transform: translate(-5px);

}
.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 2px solid #f0f0f0;
    
}
.project-card-content {
    padding: 20px;
}
.project-card h3 {
    margin-bottom: 10px;
    color: #2c3e50;
}
.project-card p {
    font-size: 0.9rem;
    color: #7f8c8d;
    margin-bottom: 15px;
    
}
.project-card a {
    display: inline-block;
    padding: 8px 16px;
    background-color: #3498db;
    text-decoration: none;
    border-radius: 4px;
    transition: 0.3s;

}
.project-card a:hover {
    background-color: #2980b9;
}
.about.bio {
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 80px 10%;
}
.about-image img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
    border: 8px solid #3498db;
}
.about-text {
    flex: 1;
}
.about-text h2 {
     font-size: 2,5rem;
     margin-bottom: 20px;
     color: #2c3e50;
}
.about-text p {
    margin-bottom: 15px;
    font-size: 1.1rem;
}
.about-details {
    background-color: #2c3e50;
    color: #f0f0f0;
    text-align: center;
    padding: 60px 10%;
}
.about-details ul {
    list-style: none;
    margin-top: 30px;

}
.about-details li {
    background-color: rgb(255, 255, 255, 0.1);
    margin: 10px auto;
    padding: 15px;
    max-width: 600px;
    border-radius: 8px;
    transition: backgroumd 0.3;
}
.about-details li:hover {
    background: rgba(255, 255, 255, 0.2);
}
footer {
    background-color: #1a251a;
    color: #f0f0f0;
    text-align: center;
    padding: 40px 0;
    margin-top: 50px;


}
.footer-content p {
    font-size: 0.9rem;
    opacity: 0.7s;
}
.social-links {
    margin-top: 15px;

}
.social-links a {
    color: #f4f4f4;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.2rem;
}
@media (max-width:768px) {
    .hero, .contact-container, .about.bio {
        flex-direction: column;
        text-align: center;
        
    }
.skills-grid, .portfolio-grid {
    grid-template-columns: 1fr;
}
nav ul {
    gap: 10px;
}


    
}









